.achievement {
  border: none;
  background-color: @basic-grey;
  min-height: 604px;
}

.achievement__title {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @basic-pink;
  padding-top: 50px;
  padding-bottom: 20px;
}

.achievement__block {
  text-align: left;
  margin-bottom: 60px;

  @media (min-width: @tablet-width) {
    padding-left: 80px;
  }
}

.achievement__description {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: @dark-blue;
}
