.achievement {
  border: none;
  background-color: @achievement-background;
  min-height: 604px;
}

.achievement__title {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @achievement__title-color;
  padding-top: 50px;
  padding-bottom: 20px;
}

.achievement__block {
  text-align: left;
  margin-bottom: 60px;
}

.achievement__description {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: @achievement__description-color;
}
