.emotions__title {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @basic-pink;
}

.emotions__text {
  border: 2px solid @light-grey;
  min-height: 197px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

.emotions {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }
}
