.info__block {
  text-align: left;
}

.info__text {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #d22856;
  text-transform: uppercase;
}

.info__field {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  border: 2px solid #e5e5e5;
  padding-left: 20px;
  padding-right: 78px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #283645;
}

.contacts__text {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #d22856;
  text-transform: uppercase;
}

.contacts__field {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  border: 2px solid #e5e5e5;
  padding-left: 20px;
  padding-right: 78px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #283645;
}

.app {
  border: none;
  background-color: #f2f2f2;
}

.app__choice {
  text-align: left;
  font-size: 18px;
  line-height: 30px;
  color: @app__choice-color;
  margin-bottom: 60px;
}

.app__title {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @app__title-color;
}

.app__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.form__button {
  background-color: @form__button-background;
  border: 2px solid #2aab6d;
  width: 276px;
  height: 59px;
  color: @form__button-color;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}
