@advantages-text: #000000;
@advantages-background: #F2F2F2;
@text-color: #FFFFFF;
@download-background: #1D2631;
@header: #283645;
@text-color: #FFFFFF;
@offer-background: #FFFFFF;
@offer-text: #283645;
